body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;

}

*, *:before, *:after {
    box-sizing: inherit;
}

/*Headrer*/
header {
    display: flex;
    gap: 1em;
    position: sticky;
    top: 0;
    float: left;
    background-color: darkred;
    color: white;
    width: 100%;
    margin-bottom: 20px;
}

header a{
    color: white;
    text-decoration: none;
}

.arrow{
    font-size: 6em;
}
#text{
    margin: 0 auto;
}
header p{
    text-align: center;
    font-size: x-large;
}

/*main*/

.heading_players{
    margin: 16px;
}

hr{
    color: darkred;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0.6em;
    height: 24em;
    width: 14em;
}


.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

/* Responsive design*/
@media screen and (max-width: 500px) {

    html{
        font-size: 12px;
    }

    .card {
        height: 1%;
        width: 40%;
    }

    .container{
        padding: 0 8px;
    }
    #text{
        display: flex;
        margin-inline: auto 1em;
    }
}

@media screen and (max-width: 340px) {
    #text p{
        display: none;
    }
}

