@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 Roboto, sans-serif;
}

body{
    min-width: 100vh;
}

.page{
    width: 100%;
}


form{
    display: flex;
    flex-direction: column;
    padding: 0 4em;
    border: 2px solid rgba(0, 0, 0, 0.38);
    box-shadow: 0 0 6em 0 rgba(0, 0, 0, 0.5);
    background: #dedcdc;
}

/*Form header*/
form header{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 1em;
    border-bottom: 1px solid #b0afaf;
    margin-block: 1em;
}


form header h1{
    font-weight: normal;
}

/*Form main*/
form main{
    display: flex;
    flex-direction: column;
    margin-block: 3px;
}

form input{
    border-radius: 0.3em;
    padding: 5px;
}


.login_message a{
    text-decoration: none;
    color: #af0e0e;
}

.login_message a:hover{
    text-decoration: underline;
    color: darkred;
}

/*Form footer*/
form footer{
    margin-block: 1em;
    padding-block: 1em;
    border-top: 1px solid #b0afaf;
}

/*Buttons*/
.button{
    display: block;
    padding: 1em;
    width: 40%;
    margin: 0.5em auto;
    background: #c70303;
    color: white;
    border-color: white;
    font-size: 18px;
    font-weight: bold;
}

.button:hover{
    background: darkred;
}


/* Messages after press register button*/
.alert{
    color: white;
    padding: 0.6em;
    border-radius: 0.4em;
    border: 1px solid white;
    font-style: italic;
    margin-top: auto;
}

.errors{
    margin-top: 1.3em;
}

.alert-danger{
    background: #c70303;
}

.alert-success{
    background: #54a900;
    text-align: center;
}

.login_message{
    margin-top: 0.5em;
}

/*Responsive design*/
@media only screen and (min-width: 900px) {

    html{
        font-size: 16px;
    }

    body {
        background-color: #eee;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .page{
        max-width: 33em;
    }

}